.static-details {
  text-align: center;
  margin-bottom: 7.5rem;
  @include mq(desktop) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10rem;
  }

  img {
    border-radius: 8px;
    margin-bottom: 2.5rem;
    @include mq(desktop){
        margin-bottom: 0;
    }
  }

  picture {
      @include mq(desktop) {
          width: 50%;
          height: 100%;
      }
  }

  &-text {
    max-width: 573px;
    margin: 0 auto;
    @include mq(desktop) {
        max-width: 445px;
        text-align: left;
        margin: 0;
    }
  }

  h2 {
    margin-bottom: 2rem;
    span {
      color: $clr-orange;
    }
  }
}
