.form-input {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 1.5rem;
  position: relative;

  span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    font-weight: $fw-med;
    color: #cd2c2c;
  }

  label {
    font-weight: $fw-bold;
    font-size: 0.75rem;
  }

  .error {
    border: 1px solid #cd2c2c;
    &-label {
      color: #cd2c2c;
    }
  }

  input {
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    font-size: 14px;
    font-weight: $fw-bold;
    padding: 1.125rem 1.5rem;
    outline: transparent;
    caret-color: $clr-orange;

    &::placeholder {
      color: #00000070;
    }

    &:focus {
      border: 1px solid $clr-orange;
    }
  }
}

.payment-label {
  font-weight: $fw-bold;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  input[type=radio] {
      opacity: 0;
      width: 0;
      position: fixed;

      &:checked + label {
          border: 1px solid $clr-orange;
      }
      &:checked + label::after {
          background: radial-gradient($clr-orange 50%, rgba(255, 0, 0, 0) 51%);
      }
  }

  label {
      cursor: pointer;
      border: 1px solid #cfcfcf;
      border-radius: 8px;
      padding: 1rem 1rem 1rem 52px;
      position: relative;
      font-size: 14px;
      font-weight: $fw-bold;
      color: $clr-black;

      &:hover {
          border: 1px solid $clr-orange;
      }

      &::after {
          content: '';
          height: 20px;
          width: 20px;
          border: 1px solid #cfcfcf;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 1rem;
          transform: translateY(-50%);
      }
  }
}


