.link-card {
  background: $clr-dark-gray;
  text-align: center;
  width: 100%;
  max-width: 350px;
  border-radius: 0.5rem;
  padding: 88px 0 22px;
  position: relative;

  img {
      position: absolute;
      width: 130px; 
      height: auto;
      top: 0;
      left: 50%;
      transform: translate(-50%, -30%);
      @include mq(desktop) {
          width: 150px;
      }
  }

  @include mq(tablet) {
      width: 32%;
  }
}
