$clr-orange: #d87d4a;
$clr-orange-light: #fbaf85;
$clr-dark: #101010;
$clr-black: #000000;
$clr-white: #FFFFFF;
$clr-dark-gray: #F1F1F1;
$clr-background: #F2F2F2;
$clr-light-gray: #FAFAFA;
$clr-btn-three-hover: #4C4C4C;


$fw-bold: 700;
$fw-med: 500;

$transition: all 300ms ease-in;